<!--<!DOCTYPE HTML>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />-->
<!--  <title>Users</title>-->
<!--</head>-->
<!--<body>-->
<!--<table width="40%" height="50" border="1">-->
<!--  >-->
<!--  <tr>-->
<!--    <td>ID</td>-->
<!--    <td>Имя</td>-->
<!--    <td>Фамилия</td>-->
<!--    <td>Почта</td>-->
<!--    <td>Пароль</td>-->
<!--    <td>Полномочия</td>-->
<!--  </tr>-->
<!--  <tr th:each="user1 : ${user}">-->
<!--    <td>-->
<!--      <h2 th:text="${user1.getRoles}">-->
<!--      </h2>-->
<!--    </td>-->
<!--    <td>-->
<!--      <h2 th:text="${user1.getName()}"></h2>-->
<!--    </td>-->
<!--    <td>-->
<!--      <h2 th:text="${user1.getLastname()}"></h2>-->
<!--    </td>-->
<!--    <td>-->
<!--      <h2 th:text="${user1.getEmail()}"></h2>-->
<!--    </td>-->
<!--    <td>-->
<!--      <h2 th:text="${user1.getPassword()}"></h2>-->
<!--    </td>-->
<!--    <td>-->
<!--      <h2 th:text="${user1.roles}"></h2>-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>`-->
<!--  </tr>-->
<!--</table>-->
<!--</body>-->